  <div id="content">
    <p>Category: <span id="category">{{question.category?.title}}</span></p>

<!-- On page load, display question here -->
    <p>Question: <span id="question">{{question.question}}</span></p>

<!-- Have textbox for answer here -->

<form>
  <input id="answer-value" type="text" name="search" placeholder="Who is...">
</form>

<!-- Button for answer submit here -->
<button id="submit-button" type="button" class="btn btn-primary btn-lg">Submit</button>


    <!-- <button id="submit-button">Submit</button> -->
<!-- Score tally here.  Start at zero -->
    <p>Answer Value: <span>{{question.value}}</span></p>
    <p>Answer: {{question.answer}}</p>
  </div>